body {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.menu {
    background-color: #000;
    color: #fff;
}

.menu-list {
    display: flex;
    align-items: center;
    margin: 0;
}

.menu-list a {
    display: block;
    padding: 5px 10px;
    color: #fff;
}

.menu-list a:hover {
    background-color: #999;
}

.menu-list a.active {
    background-color: #999;
}

.title {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.title a {
    color: #fff;
}

.content {
    background-color: #fff;
    padding: 20px;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    background-color: #3f3f3f;
    color: #fff;
    padding: 5px;
}

td {
    padding: 5px;
}

.not-click {
    pointer-events: none;
}

.form-area {
    margin-bottom: 20px;
}

.form-input {
    min-width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-email {
    min-width: 340px !important;
}

.form-commute {
    min-width: 20px;
}

.form-area label {
    display: block;
    font-weight: bold;
}

.form-area label span {
    margin-left: 5px;
    font-size: 12px;
    color:red;
}

.label {
    margin-bottom: 5px;
}

.form-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-submit {
    padding: 10px;
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    cursor: pointer;
}

.message {
    color: #fff;
    padding: 10px;
    background-color: rgb(84 149 84);
}

.error-message {
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(255, 89, 89);
}

.edit-button {
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: #3f3f3f;
    color: #fff;
}

.blood-type {
    display: flex;
}

.blood-type div {
    margin-right: 5px;
}

.blood-type label {
    display: inline;
}

.married {
    display: flex;
    align-items: center;
}

.married label {
    font-weight: normal;
}

.form-address {
    margin-bottom: 10px;
}